<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.mapper.IrrigationRecordMapper">

    <resultMap id="BaseResultMap" type="com.management.entity.IrrigationRecord">
            <id property="irrigationId" column="irrigation_id" jdbcType="INTEGER"/>
            <result property="farmId" column="farm_id" jdbcType="BIGINT"/>
            <result property="landId" column="land_id" jdbcType="INTEGER"/>
            <result property="irrigationDate" column="irrigation_date" jdbcType="DATE"/>
            <result property="irrigationDuration" column="irrigation_duration" jdbcType="DECIMAL"/>
            <result property="waterConsumption" column="water_consumption" jdbcType="DECIMAL"/>
            <result property="irrigationMethod" column="irrigation_method" jdbcType="VARCHAR"/>
            <result property="notes" column="notes" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="VoResultMap" type="com.management.entity.vo.IrrigationRecordVo">
        <id property="irrigationId" column="irrigation_id" jdbcType="INTEGER"/>
        <result property="farmId" column="farm_id" jdbcType="BIGINT"/>
        <result property="farmName" column="user_name" jdbcType="VARCHAR"/>
        <result property="landId" column="land_id" jdbcType="INTEGER"/>
        <result property="irrigationDate" column="irrigation_date" jdbcType="DATE"/>
        <result property="irrigationDuration" column="irrigation_duration" jdbcType="DECIMAL"/>
        <result property="waterConsumption" column="water_consumption" jdbcType="DECIMAL"/>
        <result property="irrigationMethod" column="irrigation_method" jdbcType="VARCHAR"/>
        <result property="notes" column="notes" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        irrigation_id,farm_id,land_id,
        irrigation_date,irrigation_duration,water_consumption,
        irrigation_method,notes
    </sql>
    <select id="getByFarmId" resultType="com.management.entity.vo.IrrigationRecordVo" resultMap="VoResultMap">
        select * from sys_user s ,irrigation_record p where s.user_id = p.farm_id and p.farm_id = #{farmId}
    </select>
    <select id="getAll" resultType="com.management.entity.vo.IrrigationRecordVo" resultMap="VoResultMap">
        select * from sys_user s ,irrigation_record p where s.user_id = p.farm_id
    </select>
</mapper>
